body{
    background-color: rgb(65, 127, 3) ;
}
#timer{
font-size:40px;
margin-left: 1000;
font-weight: 500;

}
#score{
    font-size: 40px;
    font-weight: 500;
}
#yoursketch{
    font-size: 25px;
    font-weight: 500;
}
#confidence{
    font-size: 25px;
    font-weight: 500;
}
#SketchToBeDrawn{
    font-size: 30px;
    color: rgb(219, 9, 9);
    font-weight: 500;
}
#output
{
	 width: 2000px;background: rgba(255,255,255,0.8);
}
#h1{
   margin-right:100px; 
}

#show_sketch{
    margin-left: 400px;
}